<!doctype html>
<html lang="en">
	<head>
		<title>86Box | {{ title_override | default: page.title }}</title>
		<meta charset="utf-8" />
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:creator" content="86Box" />
		<meta name="twitter:description" content="{{ page.description }}" />
		<meta property="og:site_name" content="86Box" />
		<meta property="og:title" content="{{ page.title }}" />
{% if page.layout == "post" %}
		<meta property="og:type" content="article" />
		<meta property="og:published_time" content="{{ page.date | date: "%FT%TZ" }}" />
		<meta property="article:author" content="https://github.com/{{ page.author }}" />
		<meta property="article:author:username" content="{{ page.author }}" />
{% else %}
		<meta property="og:type" content="website" />
{% endif %}
		<meta property="og:image" itemprop="image" content="https://86box.net{{ page.image | default: "/assets/images/avaicon.png" }}" />
		<meta property="og:description" content="{{ page.description }}" />
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="icon" href="/assets/images/favicon.png" type="image/png">
		<meta name="theme-color" content="#ff4848">
		<meta name="viewport" content="width=640, initial-scale=0.5">
		<!--[if !IE]><!-->
			<link rel="stylesheet" href="/assets/css/style.css">
			<link rel="stylesheet" href="/assets/css/fonts.css">
		<!--<![endif]-->
		<!--[if IE]>
			<script src="/assets/js/style-reduced.js"></script>
			<link rel="stylesheet" href="/assets/css/style-reduced.css">
		<![endif]-->
		<link rel="alternate" type="application/atom+xml" title="Blog posts" href="/feed.xml" />
	</head>
	<body>
		<header>
			<a href="/"><img src="/assets/images/avaicon.png" id="icon" alt="86Box icon" /><img src="/assets/images/86box-logo.png" id="logo" alt="86Box logo" /></a>
		</header>
		<nav>
			<a class="navlink" href="/#downloads">Downloads</a>
			<a class="navlink" href="https://86box.readthedocs.io/en/latest/index.html">Docs</a>
			<a class="navlink" href="/blog.html">Blog</a>
			<a class="navlink" href="https://github.com/86Box/86Box">GitHub</a>
		</nav>
