{% if include.post.title == page.title %}<h1>{% else %}<h2><a href="{{ include.post.url }}">{% endif %}
{{ include.post.title }}
{% if include.post.title == page.title %}</h1><span>{% else %}</a></h2><small>{% endif %}
{{ include.post.date | date: "%B %-d, %Y" }}
{% for author in include.post.authors %}{% if forloop.first %}- written by{% elsif forloop.last %} and{% else %},{% endif %} <a href="https://github.com/{{ author }}">{{ author }}</a>{% endfor %}
{% if include.post.title == page.title %}</span>{% else %}</small>{% endif %}
