/* Reduced stylesheet for retro browsers, mostly targeting Internet Explorer 6. */

/* Global Defaults */
html {
	color: #f9f9f9;
	font-family: "Source Code Pro", "Courier New", "Courier", monospace;
}

/* Body Layout */
body {
	background: url("/assets/images/starsky.png");
	background-repeat: repeat-x;
	background-color: #212e40;
	margin: 12px 8px;
}

/* Page Layout */
img {
	border: none;
}
img#icon, img#logo {
	height: 70px;
	padding-right: 20pt;
}
a.navlink {
	font-size: 15pt;
	margin: 6pt;
}
header { /* N/A on IE6 */
	display: inline;
}
nav { /* requires JS on IE6 */
	display: inline;
	height: 70px;
	vertical-align: middle;
}
hero, main { /* requires JS on IE6 */
	display: block;
	padding: 5pt 0pt;
}
div#footer {
	display: block;
	background-color: #2b496f;
	text-align: center;
	color: #8c9dbb;
	padding: 10pt;
	font-size: 11pt;
}

/* Buttons */
button {
	color: #0f1934;
	background-color: #f9f9f9;
	font: bold 16px "Source Code Pro", "Courier New", "Courier", monospace;
	text-align: center;
	text-transform: uppercase;
	border: none;
	border-radius: 4px; /* N/A on IE6 */
	padding: 9px 9px;
	border: 1px solid #f9f9f9;
}

/* Links */
a {
	color: #b9d3e8;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: white;
}
a:active {
	color: #cecece;
}
div#socialnew {
	display: none;
}

/* Blog */
img.heading, img.image {
	text-align: center;
	max-width: 100%; /* N/A on IE6 */
	width: expression((getNaturalWidth(this) >= (document.body.clientWidth - 16)) ? "100%" : "auto"); /* requires JS */
	display: block;
	margin-top: 10pt;
	margin-bottom: 5pt;
}
div.imagecaption {
	text-align: center;
	margin-bottom: 10pt;
}
hr {
	border-color: #808080;
	width: 100%;
}
span.emoji {
	display: none;
}
div.scroll {
	height: expression(Math.min(document.documentElement.clientHeight - 20, 500) + "px");
	padding-right: 1px;
	overflow-y: scroll;
}
table {
	border: 1px solid #808080;
}
tr:hover { /* N/A on IE6 */
	background: #404040;
}
th, td {
	border: 1px solid #808080;
	padding: 5px;
}
code {
	font-size: 11pt;
	background: #404040;
	border-radius: 3pt; /* N/A on IE6 */
	padding: 0pt 3pt;
}
