/* Global Defaults */
html {
	color: #f9f9f9;
	font-family: "Source Code Pro", "Courier New", "Courier", monospace;
}

/* Body Layout */
body {
	background: url("/assets/images/starsky.png"), #212e40;
	background-repeat: repeat-x;
	margin: 0 auto;
	max-width: 67rem;
	font-size: 16px;
	display: grid;
	grid-template-areas: "head head nav"
						 "hero hero hero"
						 "main main main"
						 "foot foot foot";
	grid-template-rows: auto 1fr auto 70px;
	/*animation: backgroundScroll 80s linear infinite;*/ /* fancy but lots of CPU usage! */
}
@media (max-width: 768px) {
	body {
		font-size: 14px;
		grid-template-rows: auto auto 1fr auto 70px;
		grid-template-areas: "head head head"
							 "nav nav nav"
							 "hero hero hero"
							 "main main main"
							 "foot foot foot";
	}
}
/*@keyframes backgroundScroll {
	from {background-position: 0 0;}
	to   {background-position: -1920px 0;}
}*/

/* Page Layout */
body > header {
	/* background-color: #8ca0ff; */
	grid-area: head;
	padding: 40px;
	display: flex;
	align-items: center;
}
body > nav {
	/* background-color: #ffa08c; */
	grid-area: nav;
	display: flex;
	align-items: center;
	justify-content: right;
	column-gap: 50px;
	font-size: 20px;
	padding: 40px;
}
@media (max-width: 768px) {
	body > header {
		max-width: 100%;
		padding: 15px 0px 15px;
		justify-content: center;
	}
	body > header > a {
		text-align: center;
	}
	body > header > a > img {
		max-width: 80%;
	}
	body > nav {
		max-width: 100%;
		justify-content: center;
		column-gap: 25px;
		padding: 0 15px 15px;
	}
	body > nav > a {
		font-size: min(20px, 4.5vw);
	}
}

body > hero {
	grid-area: hero;
	display: grid;
	align-items: center;
	column-gap: 50px;
	padding: 0 40px 40px;
}

body > main {
	grid-area: main;
	display: grid;
	align-items: center;
	column-gap: 50px;
	padding: 0 40px 40px;
}

body > footer {
	background-color: #2b496f;
	grid-area: foot;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #8c9dbb;
	font-size: 0.9em;
}
body > footer > div {
	margin: 0.9em;
}
body > footer > div > #reduced {
	display: none;
}
@media (max-width: 768px) {
	body > hero {
		padding: 30px;
	}
	body > main {
		padding: 0 15px 15px;
		max-width: 100%;
	}
}

/* Buttons */
button {
	color: #0f1934;
	background-color: #f9f9f9;
	font: bold 16px "Source Code Pro", monospace;
	text-align: center;
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	padding: 9px 19px;
	border: 1px solid #f9f9f9;
	transition: 0.15s;
}
button:hover {
	color: #f9f9f9;
	background-color: #0f1934;
}

/* Links */
a {
	color: #b9d3e8;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: white;
}
a:active {
	color: #cecece;
}
div#socialold {
	display: none;
}

/* Pages */
div#bisectform, p#bisectbtns {
	display: none;
}
.bisectgood {
	background: #80ff80;
}
.bisectbad {
	background: #ff8080;
}
span#bisecttry {
	display: none;
}
div#buildbins ul {
	margin: 0;
}
div#buildbins li {
	margin: 0.1em 0;
}
div#buildbins > p {
	margin: 1em 0;
}

/* Blog */
p, ul, ol {
	margin: 0.65em 0;
}
li > ul, li > ol {
	margin-top: 0.325em;
}
@media (max-width: 768px) {
	ul {
		padding-left: 1em;
	}
	ol {
		padding-left: 2em;
	}
}
sup {
	font-size: x-small;
}
sup > a.footnote::before {
	content: "[";
	margin-left: 1.5px;
}
sup > a.footnote::after {
	content: "]";
}
li:target, sup:target {
	background: #202040;
}
a.reversefootnote {
	font-size: smaller;
}
div.image, figure {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}
img.heading {
	max-width: 100%;
	width: auto;
	height: auto;
}
img.image {
	max-width: 100%;
	width: auto;
	height: auto;
}
.image-caption > p {
	margin-top: 0.5em;
	margin-bottom: 0px;
}
hr {
	border-color: #808080;
	width: 100%;
}
@media (max-width: 768px) {
	h1 {
		font-size: 1.83em;
	}
}
h1.blogpost, h2, h3 {
	margin-bottom: 0.5em;
}
h2.bloglist {
	margin: 0.5em 0.33em 0 0;
	margin-bottom: 0.33em;
}
p.blogspacer {
	margin-bottom: 0.5em;
}
span.emoji {
	font-family: Twemoji Mozilla,     /* try to work around Windows' lack of flags if any better emoji */
				 EmojiOne,            /* fonts are installed and the browser supports them (not Chrome */
				 Twitter Color Emoji; /* as of writing; Firefox provides and uses Twemoji Mozilla) */
}
div.scroll {
	max-height: min(500px, 67vh);
	padding-right: 1px; /* make border less ugly on Chrome on Windows */
	overflow-x: auto;
	overflow-y: scroll;
}
table {
	border: 1px solid #808080;
}
tr:nth-child(odd) {
	background: #1c293a;
}
tr:hover {
	background: #202040;
}
th, td {
	border: 1px solid #808080;
	padding: 5px;
}
div.scroll > table > thead > tr > th {
	position: sticky;
	top: 0;
	background: #1c293a;
}
div.td2nowrap > table > tbody > tr > td:nth-child(2) {
	white-space: nowrap;
}
code {
	font-size: 0.95em;
}
:not(pre.highlight) > code, div.highlight {
	background: #404040;
}
code {
	border-radius: 4px;
	padding: 0 4px;
}
div.highlighter-rouge {
	overflow-x: hidden;
}
div.highlight {
	overflow-x: auto;
	border-radius: 8px;
}
pre.highlight {
	margin: 0;
	padding: 6px 8px;
}
pre.highlight > code {
	padding: 0;
}
pre.highlight, code {
	font-family: inherit;
}
div.youtube {
	position: relative;
	overflow: hidden;
	max-width: 640px;
	margin: 0 auto;
	aspect-ratio: 16/9;
}
iframe {
	display: block;
	border: none;
}
iframe.youtube {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
